@font-face {
  font-family: 'mall-icon';
  src:  url('../fonts/mall-icon.eot?9qab93');
  src:  url('../fonts/mall-icon.eot?9qab93#iefix') format('embedded-opentype'),
    url('../fonts/mall-icon.ttf?9qab93') format('truetype'),
    url('../fonts/mall-icon.woff?9qab93') format('woff'),
    url('../fonts/mall-icon.svg?9qab93#mall-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mall-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
  color: #515151;
}
.icon-collect:before {
  content: "\e901";
}
.icon-like:before {
  content: "\e909";
}
.icon-notlike:before {
  content: "\e90a";
}
.icon-mine:before {
  content: "\e912";
}
.icon-home:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-profile:before {
  content: "\e971";
}
.icon-loading:before {
  content: "\e97b";
}
.icon-search:before {
  content: "\e986";
}
.icon-backtop:before {
  content: "\ea3a";
}
.icon-backtop2:before {
  content: "\ea41";
}
.icon-category:before {
  content: "\eac2";
}
