
// 定义颜色规范
$color-background = #fff
$color-background-d = rgba(255,255,255,.3)
$color-background-l = rgba(100,100,100,.3)
$color-background-x = rgba(200,200,200,.2)
$color-theme = #333
$color-theme-x = #444
$color-text = #666
$color-text-m = #777
$color-text-x = #999
$color-high-text = #ff5777
$color-tint = #ff8198





// 定义字体规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
